<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">
    <targets>
        <target xsi:type="Database"
                name="database"
                dbProvider="Npgsql.NpgsqlConnection, Npgsql"
                connectionString="Host=192.168.10.35;Username=postgres;Password=postgres;Database=postgres;">
            <commandText>
                INSERT INTO sys_log (machineName, logged, level, message,logger, callSite, exception)
                VALUES (@machineName, @logged, @level, @message, @logger, @callSite, @exception)
            </commandText>
            <parameter name="@machineName" layout="${machinename}"/>
            <parameter name="@logged" layout="${date}"/>
            <parameter name="@level" layout="${level}"/>
            <parameter name="@message" layout="${message}"/>
            <parameter name="@logger" layout="${logger}"/>
            <parameter name="@callSite" layout="${callsite}"/>
            <parameter name="@exception" layout="${exception:tostring}"/>
        </target>
        <target xsi:type="File" name="internalLog" fileName="internal-nlog.txt"
                layout="${longdate} ${level} ${message}"/>
    </targets>

    <rules>
        <!-- <logger name="*" minlevel="Info" writeTo="mysql"/> -->
        <logger name="*" minlevel="Info" writeTo="database"/>
    </rules>

    <internalLogging target="internalLog" level="Info"/>
</nlog>
        <!-- dbProvider="MySql.Data.MySqlClient.MySqlConnection,MySql.Data" -->